<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
<TITLE>Tall Kite's music</TITLE>
<META NAME="GENERATOR" CONTENT="NeoOffice 3.0  (Unix)">
<META NAME="CREATED" CONTENT="20130101;13301500">
<META NAME="CHANGED" CONTENT="20140904;13173000">
<META NAME="DESCRIPTION" CONTENT="midi software and microtonal music">
<META NAME="KEYWORDS" CONTENT="microtonal midi software plug-in alt-tonal alt-tuner xenharmonic temperament">
<meta name="viewport" content="width=device-width">
<style> img {width:auto; max-width:100%; height:auto;}
</style>
</HEAD>
<BODY LANG="en-US" BGCOLOR="#ffffd4" DIR="LTR">
<P><IMG SRC="images/bandcamp%20header.png" NAME="graphics1" ALIGN=LEFT WIDTH=975 HEIGHT=180 BORDER=0><BR CLEAR=LEFT><BR><BR>
</P>
<P><FONT SIZE=6>midi software and microtonal music</FONT></P>
<P><FONT SIZE=6><A HREF="http://www.TallKite.com/" NAME="home" TARGET="_self">home</A>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="http://www.TallKite.com/alt-tuner.html" TARGET="_self">alt-tuner</A>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="http://www.TallKite.com/forum" TARGET="_self">forums</A>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="http://www.TallKite.com/words.html" TARGET="_self">words</A>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="http://www.TallKite.com/music.html" TARGET="_self">music</A>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="http://www.TallKite.com/apps.html" TARGET="_self">apps</A>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="http://www.TallKite.com/about.html" TARGET="_self">about
me</A> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="http://www.TallKite.com/links.html" TARGET="_self">links</A></FONT></P>
<P><BR><BR>
</P>
<P><FONT SIZE=5>
<A HREF="http://www.TallKite.com/music/EveningRondo.html" TARGET="_self">"Evening Rondo"</A> and
<A HREF="http://www.TallKite.com/music/DownminorNocturne.html" TARGET="_self">"Downminor Nocturne"</A>
are two new pieces for <A HREF="https://KiteGuitar.com/" TARGET="_BLANK">Kite guitar</A>, part of Untwelve's  
<A HREF="https://untwelve.org/edition_zalzal" TARGET="_BLANK">Edition Zalzal</A>.<BR>
</P>
<P>
<A HREF="http://www.TallKite.com/music/WithoutYou.html" TARGET="_self">"Without You"</A> is a piano/vocal piece in 7-limit just intonation.<BR><BR>
</P>
<P><FONT SIZE=5>
"I Hear Numbers" is part of the Split Notes label's compilation "Next Xen".
Lyrics, tuning information, and source midi files at <A HREF="http://www.TallKite.com/music/IHearNumbers.html" TARGET="_self">www.TallKite.com/music/IHearNumbers.html</A>.<BR><BR>

Praise from the microtonal community:<BR>
&nbsp;&nbsp;"'I Hear Numbers' is an anthem for tuning fanatics everywhere!" - <A HREF="https://www.facebook.com/groups/xenharmonic2/permalink/1083593808327587/?comment_id=1083931934960441&reply_comment_id=1084664251553876&comment_tracking={%22tn%22%3A%22R9%22}" TARGET="_BLANK">Sean Archibald</A><BR>
&nbsp;&nbsp;"Your piece is just astonishing! In concept and execution - great vocals - the vocals and lyrics take the show." - <A HREF="https://www.facebook.com/groups/xenharmonic2/permalink/1083593808327587/?comment_id=1088018307885137&comment_tracking={%22tn%22%3A%22R%22}" TARGET="_BLANK">Chris Vaisvil</A><BR>
&nbsp;&nbsp;"'I hear numbers' is great!!!" - <A HREF="https://www.facebook.com/kite.giedraitis/posts/10207431505081031?comment_id=10207431734526767&comment_tracking={%22tn%22%3A%22R%22}" TARGET="_BLANK">Carlo Serafini</A><BR>
&nbsp;&nbsp;"Fun tune, man, keep up the good work!" - <A HREF="https://www.facebook.com/kite.giedraitis/posts/10207431505081031?comment_id=10207431664965028&comment_tracking={%22tn%22%3A%22R%22}" TARGET="_BLANK">Eric Ederer</A><BR>
&nbsp;&nbsp;"Kite, I really _love love love love LOVE_ this song!" - <A HREF="https://www.facebook.com/kite.giedraitis/posts/10207431505081031?comment_id=10207446222488957&comment_tracking={%22tn%22%3A%22R1%22}&pnref=story" TARGET="_BLANK">Joe Monzo</A><BR>
&nbsp;&nbsp;"Can't get enough of this awesomest recording ever... totally superb, love this. Listen to how the pitches go totally outside all the tempered boring music you usually hear, and yet it all locks and is smooth, given that it's all pure just intonation harmonies." - <A HREF="https://www.facebook.com/wolftune/posts/10156768171300354" TARGET="_BLANK">Aaron Wolf</A><BR>
&nbsp;&nbsp;"It's terrific! What I love about it is that it has compelling cadences. The harmony works -- tension, resolution, all the stuff music does to take me on a harmonic journey." - <A HREF="https://www.facebook.com/wolftune/posts/10156768171300354?comment_id=10156770794165354&comment_tracking={%22tn%22%3A%22R2%22}" TARGET="_BLANK">Gary Garrett</A><BR><BR>

I'm proud to host <A HREF="http://www.TallKite.com/music/Praveen.html" TARGET="_self">various microtonal works</A> by Praveen Venkataramana until he gets his own website.<BR><BR>

My <A HREF="http://www.TallKite.com/videos.html" TARGET="_self">alt-tuner demos</A>
page has videos and mp3s of music made with alt-tuner.<BR><BR>

My <A HREF="https://soundcloud.com/tallkite" TARGET="_blank">soundcloud</A>
page has the same music.<BR><BR>

My <A HREF="http://tallkite.bandcamp.com/" TARGET="_blank">bandcamp</A>
page has my finished microtonal songs.<BR><BR>

Our <A HREF="https://foolsinparadise.bandcamp.com/album/the-other-side-of-the-sky" TARGET="_blank">other bandcamp</A> page has Fools In Paradise music.<BR><BR>

Our <A HREF="http://www.cdbaby.com/Artist/FoolsInParadise" TARGET="_blank">CDbaby</A>
page has more Fools In Paradise music, plus CDs for sale.<BR><BR>

My <A HREF="https://soundcloud.com/mbirakite" TARGET="_blank">other soundcloud</A>
page has a few covers.<BR><BR>

My <A HREF="http://www.last.fm/music/Tall+Kite" TARGET="_blank">last.fm</A>
page has a few odds and ends, some ambient music, some casual
recordings with friends, etc.</P>
<P><BR><BR>
</P>
<P>If you like my music, please consider a small donation to support my efforts.<BR>
No paypal account required. If you don't want to use paypal, e-mail me for other options.<BR>
For help with paypal donating, see screenshot <A HREF="images/howtodonate1.png" TARGET="_BLANK">here</A>.</P>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="GHT9MQE9UCA9J">
<TABLE BORDER=1 CELLPADDING=2 CELLSPACING=2 BGCOLOR="#ffffa0"><TR><TD>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</TD></TR></TABLE>
</form>

<P><!-- Piwik --><SCRIPT>
 
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://www.tallkite.com/analytics//";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

</SCRIPT><noscript><IMG SRC="http://www.tallkite.com/analytics/piwik.php?idsite=1" NAME="graphics2" ALIGN=BOTTOM WIDTH=75 HEIGHT=38 BORDER=0></P>
<P></noscript><!-- End Piwik Code --><BR><BR>
</P>
</BODY>
</HTML>
